/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    max-width: 500px;
    width: 100%;
    transition: transform 0.3s ease;
}

.container:hover {
    transform: translateY(-5px);
}
a{
    color: black;
    text-decoration: none;
}
span {
    
    margin-bottom: 20px;
    color: #333;
    font-size: 28px;
    text-align: center;
    border-bottom: 3px solid #007bff;
    padding-bottom: 10px;
    font-weight: bold;
    display: block;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 20px;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

button {
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);
}

@media (max-width: 600px) {
    .container {
        padding: 30px;
    }

    h2 {
        font-size: 24px;
    }

    label {
        font-size: 14px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 14px;
    }

    button {
        font-size: 16px;
    }
}
